[app]
debug = false
trace = false
cdn_url = 'http://192.168.30.119:8199'

[database]
hostname = 127.0.0.1
database = fastadmin
username = root
password = root
hostport = 3306
prefix = fa_

[ali]
appid =
private_key =
public_key =
notify_url =


[redis]
host=
port=
password=
prefix=


