<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Uid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-uid" data-rule="required" min="0" class="form-control" name="row[uid]" type="number" value="{$row.uid|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Otn')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-otn" class="form-control" name="row[otn]" type="text" value="{$row.otn|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Money')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-money" data-rule="required" class="form-control" step="0.01" name="row[money]" type="number" value="{$row.money|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Card_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-card_id" data-rule="required" min="0" data-source="card/index" class="form-control selectpage" name="row[card_id]" type="text" value="{$row.card_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Type')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-type" data-rule="required" min="0" class="form-control" name="row[type]" type="number" value="{$row.type|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Ip')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-ip" data-rule="required" class="form-control" name="row[ip]" type="text" value="{$row.ip|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Itime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-itime" data-rule="required" min="0" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[itime]" type="text" value="{:$row.itime?datetime($row.itime):''}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Utime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-utime" data-rule="required" min="0" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[utime]" type="text" value="{:$row.utime?datetime($row.utime):''}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Pay_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-pay_time" min="0" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[pay_time]" type="text" value="{:$row.pay_time?datetime($row.pay_time):''}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Pay_type')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-pay_type" class="form-control" name="row[pay_type]" type="number" value="{$row.pay_type|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('RealName')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-realName" data-rule="required" class="form-control" name="row[realName]" type="text" value="{$row.realName|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('BankName')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-bankName" data-rule="required" class="form-control" name="row[bankName]" type="text" value="{$row.bankName|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('BankCard')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-bankCard" data-rule="required" class="form-control" name="row[bankCard]" type="text" value="{$row.bankCard|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Alipay_card')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-alipay_card" class="form-control" name="row[alipay_card]" type="text" value="{$row.alipay_card|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('SubBranchName')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-subBranchName" data-rule="required" class="form-control" name="row[subBranchName]" type="text" value="{$row.subBranchName|htmlentities}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
        </div>
    </div>
</form>
