<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

  <div class="form-group">
    <label class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
    <div class="col-xs-12 col-sm-8">
      <input id="c-name" data-rule="required" class="form-control" name="row[name]" type="text"
        value="{$row.name|htmlentities}">
    </div>
  </div>
  <div class="form-group">
    <label for="c-local" class="control-label col-xs-12 col-sm-2">{:__('image')}:</label>
    <div class="col-xs-12 col-sm-8">
      <input type="text" name="row[image]" id="c-local" class="form-control" value="{$row.image|htmlentities}" />
      <ul class="row list-inline faupload-preview" id="p-local"></ul>
    </div>
  </div>
  <div class="form-group">
    <label for="c-local" class="control-label col-xs-12 col-sm-2"></label>
    <div class="col-xs-12 col-sm-8">
      <button type="button" id="faupload-local" class="btn btn-primary faupload" data-input-id="c-local"
        data-multiple="true" data-preview-id="p-local" data-url="{:url('ajax/upload')}"><i class="fa fa-upload"></i>
        上传图片
      </button>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-xs-12 col-sm-2">{:__('Price')}:</label>
    <div class="col-xs-12 col-sm-8">
      <input id="c-price" data-rule="required" class="form-control" step="0.01" name="row[price]" type="number"
        value="{$row.price|htmlentities}">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-xs-12 col-sm-2">产品类型:</label>
    <div class="col-xs-12 col-sm-8">
      <div class="radio">
        <label>
          <input type="radio" name="row[product_type]" value="1" {if $row.product_type==1} checked="checked" {/if}>
          Ⅰ型产品（日返机制)
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="row[product_type]" value="2" {if $row.product_type==2} checked="checked" {/if}>
          Ⅴ型产品（固定周期多次返利）
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="row[product_type]" value="3" {if $row.product_type==3} checked="checked" {/if}>
          Ⅵ型产品（多日期多阶段返利）
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="row[product_type]" value="4" {if $row.product_type==4} checked="checked" {/if}>
          Ⅳ型产品（阶段日返产品）
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-xs-12 col-sm-2">返利次数:</label>
    <div class="col-xs-12 col-sm-8">
      <input id="c-times" class="form-control" name="row[times]" type="number" value="{$row.times|htmlentities}">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-xs-12 col-sm-2">收益比例(%):</label>
    <div class="col-xs-12 col-sm-8">
      <input id="c-day_rate" data-rule="" class="form-control" step="0.01" name="row[rate]" type="number"
        value="{$row.rate|htmlentities}">
    </div>
  </div>
  <div class="form-group" id="period">
    <label class="control-label col-xs-12 col-sm-2">返利周期:</label>
    <div class="col-xs-12 col-sm-8">
      <input id="c-period" data-rule="required" class="form-control" step="0.01" name="row[period]" type="number"
        value="{$row.period|htmlentities}">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-xs-12 col-sm-2">{:__('Remark')}:</label>
    <div class="col-xs-12 col-sm-8">
      <textarea id="c-remark" class="form-control " rows="5" name="row[remark]"
        cols="50">{$row.remark|htmlentities}</textarea>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-xs-12 col-sm-2">{:__('Limit_num')}:</label>
    <div class="col-xs-12 col-sm-8">
      <input id="c-limit_num" class="form-control" name="row[limit_num]" type="number"
        value="{$row.limit_num|htmlentities}">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-xs-12 col-sm-2">{:__('Sort')}:</label>
    <div class="col-xs-12 col-sm-8">
      <input id="c-sort" class="form-control" name="row[sort]" type="number" value="{$row.sort|htmlentities}">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-xs-12 col-sm-2">{:__('Itime')}:</label>
    <div class="col-xs-12 col-sm-8">
      <input id="c-itime" data-rule="required" class="form-control datetimepicker"
        data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[itime]" type="text"
        value="{:$row.itime?datetime($row.itime):''}">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-xs-12 col-sm-2">{:__('Utime')}:</label>
    <div class="col-xs-12 col-sm-8">
      <input id="c-utime" data-rule="required" class="form-control datetimepicker"
        data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[utime]" type="text"
        value="{:$row.utime?datetime($row.utime):''}">
    </div>
  </div>
  <div class="form-group layer-footer">
    <label class="control-label col-xs-12 col-sm-2"></label>
    <div class="col-xs-12 col-sm-8">
      <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
    </div>
  </div>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    function toggleFields () {
      var productType = $("input[name='row[product_type]']:checked").val();

      if (productType == "1") {
        // Ⅰ型产品：显示日返相关字段
        $("#day").show();
        $("#day_income").show();
        $("#allowance").show();
        $("#month_income").hide();
        $("#month").hide();
      } else {
        // 其他类型产品：显示月返相关字段
        $("#day").hide();
        $("#day_income").hide();
        $("#allowance").hide();
        $("#month_income").show();
        $("#month").show();
      }
    }

    // 初始化时根据当前选中的产品类型显示相应字段
    toggleFields();

    // 监听产品类型变化
    $("input[name='row[product_type]']").change(function () {
      toggleFields();
    });
  });
</script>